<html>
    <head>
        <link rel="stylesheet" type="text/css" href="public/css/style.css">
    </head>
    <body>
        
        <center>{{msg}}<br>
            <form method="POST" action="/send">
        <label><h1>Enter your Email Id</h1></label>
        <input type="email" name="email">
        <button type="submit">submit</button>
        </form></center>
    </body>
</html>